.bitter-header {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'CyGrotesk';
  src: url('../fonts/CyGroteskStd-KeyRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CyGrotesk', sans-serif;
  margin: 0;
  padding: 0;
  background: black;
}

.project-title {
  color: white;
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
}

.project-container {
  width: 100%;
  max-width: 420px;
  margin: 10px auto;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.project-image-wrapper {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.invest-img {
  width: 33px;
  height: 22px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Кнопки на фото */
.back-button,
.project-badge,
.project-location-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  background: white;
  color: #101313;
  padding: 6px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.back-button {
  top: 10px;
  left: 10px;
}

.project-badge {
  top: 10px;
  right: 10px;
}

.project-location-overlay {
  bottom: 10px;
  right: 10px;
}

.back-button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.project-location-overlay img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.project-badge img {
  width: 32px;
  height: 22px;
}

.card-title {
  margin: 0px;
  color: #101313;
  line-height: 1;

}

/* Переваги */
.project-content h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #101313;
  margin-bottom: 12px;
}

.project-advantages {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.project-advantages li {
  margin-bottom: 12px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #101313;
}



.project-details p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}

/* Кнопка */
.invest-button {
  display: block;
  width: 100%;
  background: #C1CFD5;
  color: #101313;
  text-align: center;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  height: 50px;
}

.invest-button:active,
.back-button:active {
  transform: translateY(1px);
}

.pr-kd {
  display: flex;
  justify-content: left;


}

.project-details {
  margin: 0px;
  padding-left: 0px;
}

.l {
  font-size: 18px;
}





.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slider-arrow img {
  width: 26px;
  /* іконка стрілки */
  height: 34px;
}

hr {
  margin-bottom: 20px;
}

.m {
  font-size: 18px;
}
.local{
  font-size: 10px;
}