
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 1.4;
}


.card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 36px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  padding-bottom: 22px;
}

.card-image-wrapper {
  position: relative;
}

.card-image {
  width: 100%;
  display: block;
  border-radius: 18px 18px 0 0;
  height: 240px;
  object-fit: cover;
}

.card-badge {
  position: absolute;
  top: 14px;
  right: 14px;
  background: white;
  color: #222;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.card-location {
  position: absolute;
  bottom: 14px;
  right: 14px;
  background: white;
  color: #222;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 0.9rem;
}


.card-title {
  margin: 20px;
  font-size: 1.35rem;
  font-weight: 700;
  color: #333;
  line-height: 1.5;
}


.card-details {
  margin: 0 20px 22px;
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.card-details p {
  margin: 8px 0;
}


.btn.card-button {
  display: block;
  margin: 0 20px;
  padding: 14px;
  background: grey;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  transition: 0.3s;
}

.btn.card-button:hover {
  background: #0056b3;
}


/*
@media (max-width: 480px) {
  .app-title {
    font-size: 18px;
  }
  .name {
    font-size: 16px;
  }
  .text-in {
    font-size: 13px;
  }
  .bth {
    padding: 10px;
  }
}  */
